<div layout="row" layout-xs="column" class="Admin" style="margin-bottom: 60px;">

    <div flex flex-xs="100">

        <md-card>
            <md-card-content>
                <md-subheader class="md-no-sticky"> Create Activity</md-subheader>
                <form name="activityForm" ng-submit="save(activity)">
                    <md-input-container class="md-block">
                        <label>User</label>
                        <md-select name="user" ng-model="activity.user" required>
                            <md-option value="{{ user._id }}" ng-repeat="user in users">{{ user.displayName }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Activity</label>
                        <md-select name="activity" ng-model="activity.activity" required>
                            <md-option value="notification">Notification</md-option>
                            <md-option value="walking">Walking</md-option>
                            <md-option value="running">Running</md-option>
                            <md-option value="basketball">Basketball</md-option>
                            <md-option value="football">Football</md-option>
                            <md-option value="bicycle">Bicycle</md-option>
                            <md-option value="gym">Gym</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Date</label>
                        <input name="datetime" mdc-datetime-picker="" min-date="minDate" date="true" time="true"
                               type="text"
                               ng-model="activity.datetime" class="md-input" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Duration</label>
                        <md-select name="duration" ng-model="activity.duration">
                            <md-option value="0">0m</md-option>
                            <md-option value="10">10m</md-option>
                            <md-option value="15">15m</md-option>
                            <md-option value="25">25m</md-option>
                            <md-option value="30">30m</md-option>
                            <md-option value="45">45m</md-option>
                            <md-option value="60">1h</md-option>
                            <md-option value="90">1h30m</md-option>
                            <md-option value="120">2h</md-option>
                            <md-option value="180">3h+</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Location</label>
                        <input name="location" ng-model="activity.location" places-auto-complete size=80 placeholder=""
                               required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea name="description" ng-model="activity.description" md-maxlength="150" rows="5"
                                  md-select-on-focus></textarea>
                    </md-input-container>

                    <div layout="row" layout-align="end center">
                        <md-button class="md-accent md-raised" type="submit">Save</md-button>
                    </div>

                </form>
            </md-card-content>
        </md-card>

    </div>

    <div flex flex-xs="100">

        <md-card>
            <md-card-content>
                <md-subheader class="md-no-sticky">{{ users.length }} User(s)</md-subheader>
                <md-list-item ng-repeat="user in users">
                    <img ng-src="{{ user.picture }}" class="md-avatar" alt="{{ user.displayName }}"/>
                    <p>{{ user.displayName }}</p>
                </md-list-item>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-content>
                <md-list class="md-dense" flex>
                    <md-subheader class="md-no-sticky">{{ activities.length }} Activities</md-subheader>
                    <md-list-item ng-repeat="activity in activities" class="md-3-line">
                        <img ng-src="img/activities/{{ activity.activity }}.png" class="md-avatar"
                             style="border-radius: 0;"
                             alt="{{ activity.activity }}" ng-click="openMembers($event,activity)"/>
                        <div class="md-list-item-text" layout="column">
                            <h3><b>{{ activity.activity | capitalize}}</b></h3>
                            <p>
                                <span am-time-ago="activity.datetime"></span>
                                ( {{ activity.datetime | date:'medium' }} )
                            </p>
                            <h3>{{ activity.duration}}m</h3>
                            <p>{{ activity.location}}</p>
                            <h3>{{ activity.members.length }} Member(s)</h3>
                            <p>{{ activity.description }}</p>
                        </div>
                        <md-button class="md-secondary md-icon-button" ng-click="delete($event,activity)"
                                   aria-label="delete">
                            <md-icon class="fa" md-font-icon="fa-times"></md-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

    </div>

</div>

